USE [master]
GO
/****** Object:  Database [PSL]    Script Date: 27/10/2016 10:45:42 a. m. ******/
CREATE DATABASE [PSL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PSL', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PSL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PSL_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PSL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PSL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PSL]
GO
/****** Object:  Table [dbo].[CasosPrueba]    Script Date: 27/10/2016 10:45:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CasosPrueba](
	[Caso_Prueba] [varchar](10) NULL,
	[FechaCita] [varchar](10) NULL,
	[Id_Paciente] [varchar](15) NULL,
	[Id_Medico] [varchar](15) NULL,
	[Observaciones] [varchar](max) NULL,
	[DescripcionCaso] [varchar](max) NULL,
	[ResultadoEsperado] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 27/10/2016 10:45:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicos](
	[ID_Doctor] [varchar](15) NULL,
	[Nombres] [varchar](max) NULL,
	[Apellidos] [varchar](max) NULL,
	[Telefono] [varchar](max) NULL,
	[Tipo_Id] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 27/10/2016 10:45:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pacientes](
	[ID_Paciente] [varchar](15) NULL,
	[Nombres] [varchar](max) NULL,
	[Apellidos] [varchar](max) NULL,
	[Telefono] [varchar](max) NULL,
	[Tipo_Id] [varchar](max) NULL,
	[Prepagada] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResultadosEjecucion]    Script Date: 27/10/2016 10:45:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResultadosEjecucion](
	[Codigo_Caso] [varchar](10) NULL,
	[ResultadoObtenido] [varchar](max) NULL,
	[Validacion] [bit] NULL,
	[FechaEjecucion] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
